/** @format */

.heading {
  display: flex;
  margin: 20px 0;
  width: 20rem;
}

.heading button {
  flex: 2 1;
  text-align: center;
  padding-right: 50px;
}

.heading_name,
.heading_population {
  flex: 1;
}

.heading_name span,
.heading_population span,
.heading_area span,
.heading_gini span {
  color: var(--text-color-secondary);
  font-weight: 900;
  cursor: pointer;
  width: 20%;
}

.heading_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: large;
  padding-left: 5px;
}

.row {
  display: flex;
  background-color: var(--background-color-light);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
  transition: transform 200ms ease-in-out;
}

.row:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.row img {
  width: 50px;
  height: 38px;
  border-radius: 4px;
}

.name,
.population,
.area,
.gini {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 769px) {
  .heading {
    width: 97%;
  }

  .heading button {
    padding-right: 50px;
  }

  .heading button:nth-child(3),
  .heading button:nth-child(4) {
    display: none;
  }

  .area,
  .gini {
    display: none;
  }
}

/* @media screen and (max-width: 425px) {
  .heading {
    width: 90%;
  }
} */
