/** @format */

.overview img {
  width: 100%;
  border-radius: 6px;
}

.overview {
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-light);
}

.overview_name {
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
}

.overview_region {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
}

.overview_statistic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.overview_label {
  font-size: 14px;
  color: var(--text-color-secondary);
}

.details {
  width: 100%;
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.details_heading {
  padding: 20px;
}

.details_content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.details_label {
  color: var(--text-color-secondary);
}

.details_borders {
  width: 100%;
}

.details_border {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.details_border h4 {
  margin: 0;
}

@media screen and (min-width: 769px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .overview {
    width: 352px;
    height: 462px;
    margin: 0 30px 40px 0;
  }
  .details {
    width: 70%;
  }
}
