/** @format */

.overview img {
  width: 100%;
  border-radius: 6px;
}

.overview {
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-light);
}

.overview_name {
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
}

.overview_region {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
}

.overview_statistic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.overview_label {
  font-size: 14px;
  color: var(--text-color-secondary);
}

.details {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.details_heading {
  padding: 20px;
}

.details_content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.details_label {
  color: var(--text-color-secondary);
}
<<<<<<< HEAD

.details_borders {
  width: 100%;
}

.details_border {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.details_border h4 {
  margin: 0;
}
=======
>>>>>>> 5078a3551e861b3a08b06920d01a373d218b935e
